

html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.contact-form {
    height: 1000px;
}

/*==========
swiper + navigantion
*/
.top-swiper {
    width: 100%;
    height: 100%;
}
.top-swiper>.swiper-pagination-bullets {
    font-size: 18px;
    right: 40px;
}
.top-swiper>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 20px 0;
}

.top-swiper-pagination .swiper-pagination-bullet {
    color: #666666;
    border-radius: 0;
}

.top-swiper-pagination .swiper-pagination-bullet-active{
    color: #c0945c;
    background: none;
}

.top-swiper-pagination .swiper-pagination-bullet-active::before{
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #c0945c;
    position: relative;
    top: 13px;
    left: -61px;
}

/*=========
slider-images begin
=====*/

.sl1 {
    background-image: url("../img/hslide1.jpg");
    background-size: cover;
    background-position: center;
}
.sl2 {
    background-image: url("../img/hslide2.jpg");
    background-size: cover;
    background-position: center;
}
.sl3 {
    background-image: url("../img/hslide3.jpg");
    background-size: cover;
    background-position: center;
}
/*=========
 slider-images end
=====*/
.navbar {
    background-color: #000;
    background-image: none;
}

.navbar-default {
    box-shadow: none;
    border-radius: 0;
}

.menu-wrapper{
    width: 100%;
}

.menu-left-part {
    float: left;
    width: 15%;
}

.site-logo {
    line-height: 70px;
    margin-left: 10px;
}

.site-logo img {
    width: 95%;
    height: auto;
    max-height: 55px;
}

.menu-center-part ul {
    float: left;
    width: 70%;
    text-align: center;
    margin: 0;
    line-height: 70px;
}

.nav-slider ul {
    line-height: 70px;
    width: 70%;
    text-align: center;
    margin:  0 auto;
    float: none;
}

.menu-center-part ul li, .nav-slider ul li {
    display: inline-block;
    line-height: 70px;
    float: none;
}

.menu-center-part ul li a, .nav-slider ul li a {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
}

.menu-right-part {
    float: right;
    width: 15%;
    line-height: 70px;
    margin: 0;
}

#lang-select {
    float: right;
}

#lang-select a {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 40px
}
#lang-select .glyphicon-menu-down {
    font-size: 10px;
}

.dropdown-menu {
    left: -89px;
}

.nav-slider ul>li>a, .menu-center-part ul>li>a {
    font-family: 'montserrathairline', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #8B8B8B;
    margin: 0 15px;
}

/* For drupal */
#sticky .navbar-nav > .active > a, .nav-slider.navbar-inverse .navbar-nav > .active > a {
    font-family: 'montserrathairline', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #8B8B8B;
    margin: 0 15px;
}

.nav-slider.navbar-inverse .navbar-nav > .active > a:hover, .menu-center-part ul>li>a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-slider ul>li>a:hover, #sticky .menu-center-part ul>li>a:hover {
    color: #fff;
    text-decoration: none;
}

.menu-center-part>li>a.menu-active {
    color: #fff;
    border-bottom: 2px solid #c0945c;

}

/*Set sticky menu position after scroll */
#sticky.affix, #sticky.affix-bottom{
     position: fixed;
     top: 0;
     z-index:10;
     width: 100%;
 }

/*Fix menu after resize */
#sticky.affix-bottom {
    top: 0;
}

/*Slider menu styles should be below main menu because slider menu uses some main menu styles */
.nav-slider {
    margin-top: -90px;
    background-color: rgba(0,0,0,0);
    border: none;
    z-index: 2; /*push above slider*/
}

.language-switcher-locale-url {
    padding-right: 20px;
    margin: 0;
}


.language-switcher-locale-url li {
    list-style: none;
    text-align: right;
    line-height: 70px;
}

.language-switcher-locale-url li.active a:after {
    font-family: FontAwesome;
    content: "\f107";
    margin-left: 2px;
}

.language-switcher-locale-url li:not(.active) {
    width: 100px;
    position: absolute;
    background-color: #000000;
    line-height: 50px;
    padding: 0 20px;
    right: -1px;
    display: none;


}

.language-switcher-locale-url li a {
    color: #8B8B8B;
}

.language-switcher-locale-url li a:visited,  .language-switcher-locale-url li a:visited,   .language-switcher-locale-url li a:hover,   .language-switcher-locale-url li a:active {
    text-decoration: none !important;
}

.view-id-news_main, .media-videos {
    margin-bottom: 70px;
}

.art-header {
    width: 30%;
    font-family: "Onyx", "Times New Roman", "serif";
    font-size: 68px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 60px auto 45px;
    position: relative;
}

.art-alt {
    color: #fff;
}

.art-header::before, .art-header::after {
    content: "";
    display: block;
    height: 2px;
    width: 105px;
    background-color: #C0945C;
    position: absolute;
    z-index: 1;
    bottom: 0.5em;
}

.art-header::before {
    left: -0.5em;
}

.art-header::after {
    right: -0.5em;
}

.featured-entry{
    margin-bottom: 75px;
}

.featured-image {
    margin-bottom: 25px;
    overflow: hidden;
}

.featured-image a {
    display: block;
    padding: 80px 0 0 80px;
    background-image: url("../img/top-article-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.full-width-wrapper {
    width: 100%;
    background-color: lightslategray;
}


.publish-date {
    margin-bottom: 10px;
    border-left: solid 5px #C0945C;
    padding: 5px 0 5px 10px;
    color: #949494;
    font-weight: bold;
    font-size: 14px;
}

.article-header {
    color: #000;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.article-description {
    color: #5A5A5A;
    font-size: 16px;
    margin-bottom: 30px;
}

.read-more {
    background-color: #efefef;
    padding: 10px;
    color: #C0945C;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.read-more:hover  {
    background-color: #C0945C;
    color:  #efefef;
    text-decoration: none;
}

.read-more::after {
    content: "";
    display: block;
    height: 1px;
    width: 65px;
    background-color: #C0945C;
    position: absolute;
    bottom: 0.7em;
    left: 165px;
}

.news-article {
    margin-bottom: 20px;
}

.news-img-wrapper {
    width: 100%;
    height: 250%;
    overflow: hidden;
    margin-bottom: 25px;
}

.news-img {
    width: 100%;
    height: auto;
}

.cta-link {
    font-size: 20px;
    text-align: center;
    display: block;
    margin:  50px auto 0 auto;
    width: 180px;
    line-height: 50px;
    border: 2px solid #C0945C;
    color: #000;
    transition: all 0.3s ease 0s;
}

.cta-link:hover  {
    background-color: #C0945C;
    color:  #efefef;
    text-decoration: none;
}

.wrap-about-me {
    background-image: url("../img/ab-bg.jpg");
    background-size: cover;
}

.wrap-about-me > .container {
    padding-bottom: 120px;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.about-photo {
    background-image: url("../img/ab-left.jpg");
    background-size: cover;
    height: 720px;
}

.about-description {
    margin: 80px 0 80px 0;
    height: 560px;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;

    -webkit-box-shadow: inset 10px 0px 25px -5px rgba(64,64,64,0.8);
    -moz-box-shadow: inset 10px 0px 25px -5px rgba(64,64,64,0.8);
    box-shadow: inset 10px 0px 25px -5px rgba(64,64,64,0.8);
}


.about-description h3 {
    font-size: 48px;
    font-family: "Onyx", "Times New Roman", "serif";
    color: #C0945C;
}

.art-soprano {
    color: #949494;
    font-size: 18px;
}

.art-soprano::before, .art-soprano::after {
    content: "";
    display: block;
    height: 1px;
    width: 105px;
    background-color: #949494;
    position: absolute;
    z-index: 1;
    bottom: 23em;
}

.art-soprano::before {
    left: 8em;
}

.art-soprano::after {
    right: 8em;
}


.about-description p:nth-child(3) {
    margin: 20px 50px 0 50px ;
}


.notebook-wrapper {
    margin: 0 auto 100px;
    width: 924px;
    height: 500px;
    background-image: url("../img/notebook-image.png");
    padding: 49px 0 0 6px;
}

.notebook-swiper {
    width: 602px;
    height: 375px;
    margin: 0 auto;
}

.youtube-wrapper {
    width: 602px;
    height: 375px;
}

.notebook-swiper-next, .notebook-swiper-prev {
    background-color: #c0945c;
    background-image: none;
    border: 2px solid #c0945c;

    width: 45px;
    height: 235px;
    top: 25%;
    z-index: 3;

    line-height: 235px;
    color: #fff;
    font-size: 52px;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.notebook-swiper-next .fa {
    margin-left: 15px;
}

.notebook-swiper-prev .fa{
    margin-left: 11px;
}

.notebook-swiper-prev {
    left: 217px;
    right: auto;

    -webkit-box-shadow: inset -20px 0px 75px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -20px 0px 75px -35px rgba(0,0,0,0.75);
    box-shadow: inset -20px 0px 75px -35px rgba(0,0,0,0.75);
}

.notebook-swiper-next {
    right: 212px;
    left: auto;

    -webkit-box-shadow: inset 20px 0px 75px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 20px 0px 75px -35px rgba(0,0,0,0.75);
    box-shadow: inset 20px 0px 75px -35px rgba(0,0,0,0.75);
}

.notebook-swiper-next:hover, .notebook-swiper-prev:hover {
    background-color: #fff;
    color: #c0945c;
    border: 2px solid #c0945c;
}

/*==========Pagination for video slider begin =========*/

.notebook-swiper-pagination {
    margin-top: 90px;
    padding-bottom: 20px;
    width: 100%;
    position: static;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}

.notebook-swiper-pagination .swiper-pagination-bullet {
    height: 28px;
    width: 25px;
    font-size: 18px;
    font-family: 'montserrathairline', sans-serif;
    margin: 0 15px;
    display: inline-block;
    border-radius: 0;
    background: none;
    opacity: 1;
}

.notebook-swiper-pagination .swiper-pagination-bullet-active{
    color: #c0945c;
    border-bottom: 3px solid #c0945c;
}

/*==========Pagination for video slider end =========*/

.music-player {
    background-image: url("../img/songs.jpg");
    background-size: cover;
    height: 500px;
}



