#hamburger {
    color: #fff;
    font-size: 34px;
    line-height: 70px;
}


@media  (min-width: 1010px) {
    .mobile-button {
        display: none;
    }
}

@media (max-width: 1010px) {
    .menu-center-part, .menu-slider {
        display: none;
    }
    .site-logo {
        margin: 0 auto;
        display: block;
        width: 30%;
    }
    .menu-left-part {
        width: 70%;
    }

    .mobile-button {
        width: 15%;
        float: left;
        display: block;
    }
}

@media (max-width: 991px) {
    .art-header::before, .art-header::after {
        width: 75px;
    }
    .art-header::before {
        left: -1.5em;
    }
    .art-header::after {
        right: -1.5em;
    }
}



/* ------  Mobile Menu (background) ----*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(193,148,93); /* Black fallback color */
    background-color: rgba(193,148,93, 0.98); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    height: 87%;
    top: 10%; /* 10% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 5%; /* top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay .mobile-menu-link, .overlay .mobile-social a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #F1D8B9;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay .mobile-social a {
    line-height: 80px;
    display: inline;
    font-size: 24px;
}


/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -12px;
    left: 19px;
    font-size: 60px;
}

.mobile-social {
    position: absolute;
    bottom: 0px;
    height: 80px;
    border-top: solid 5px #D3AA75;
    width: 100%;
    background-color: #A88353;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


