

@media  (min-width: 1210px) {
    .mobile-button {
        display: none;
    }
}

@media (max-width: 1210px) {
    .menu-center-part, .nav-slider {
        display: none;
    }
    .site-logo {
        margin: 0 auto;
        display: block;
        width: 75%;
    }
    .menu-left-part {
        width: 60%;
    }

    .menu-right-part {
        width: 20%;
    }

    .mobile-button {
        width: 20%;
        float: left;
        display: block;
        padding-left: 20px;
    }
}

@media (max-width: 1200px) {
    .notebook-swiper-next {
        right: 112px;
    }

    .notebook-swiper-prev {
        left: 116px;
    }

    /*=====Description slider begin=======*/

    .desc-swiper>.swiper-pagination-bullets {
        font-size: 18px;
        right: 45%;
        top: 53%;
    }

    .desc-swiper>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 10px 0 0;
        display: inline-block;
    }

    .desc-swiper-pagination .swiper-pagination-bullet {
        color: rgba(255, 255, 255, 0);
        background-color: transparent;
        border: 1px solid #fff;
        font-size: 6px;
        border-radius: 50%;
        right: 88%;
        top: 15%;
        height: 20px;
        width: 20px;
        opacity: 1;
    }

    .desc-swiper-pagination .swiper-pagination-bullet-active{
        /*color: #c0945c;*/
        background-color:  #c0945c;
        border: 1px solid #c0945c;
    }

    .desc-swiper-pagination .swiper-pagination-bullet-active::after{
        content: "";
        display: none;
    }

    /*=====Description slider end=======*/
}

@media (max-width: 991px) {

    .notebook-swiper-next, .notebook-swiper-prev {
        display: none;
    }

    .notebook-wrapper {
        width: 90%;
        height: 300px;
        background-image: none;
        padding: 0;
    }

    .notebook-swiper {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    .youtube-wrapper {
        width: 100%;
        height: 100%;
    }

    .notebook-swiper-pagination {
        margin-top: 35px;
    }

    .press-article:nth-child(2)  {
        margin-top: 40px;
    }
}


@media (max-width: 700px) {
    .desc-swiper {
        height: 1640px;
    }
    .desc-slide .desc-right {
        height: 750px;
    }

    .desc-swiper>.swiper-pagination-bullets {
        top: 45%;
    }
}


@media (max-width: 615px) {
    .desc-swiper>.swiper-pagination-bullets {
        top: 50%;
        right: 42%;
    }
}

@media (max-width: 560px) {
    .desc-swiper {
        height: 1700px;
    }
    .desc-slide .desc-right {
        height: 710px;
    }
}

@media (max-width: 520px) {
    .desc-swiper {
        height: 1850px;
    }
    .desc-slide .desc-right {
        height: 860px;
    }

    .desc-swiper>.swiper-pagination-bullets {
        right: 38%;
        top: 44%;
    }
}

@media (max-width: 500px) {
    .language-switcher-locale-url li.active a:after {
        display: none;
    }
}

@media (max-width: 400px) {
    .about-description {
        height: 745px;
    }
}

@media (max-width: 330px) {
    .desc-swiper {
        height: 2040px;
    }
    .desc-slide .desc-right {
        height: 1150px;
    }

    .desc-swiper>.swiper-pagination-bullets {
        right: 35%;
        top: 40%;
    }
}


/* ------  Mobile Menu (background) ----*/

#hamburger {
    color: #fff;
    font-size: 34px;
    line-height: 70px;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(193,148,93); /* Black fallback color */
    background-color: rgba(193,148,93, 0.98); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    height: 87%;
    top: 10%; /* 10% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 5%; /* top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content .menu.nav.navbar-nav {
    float: none;
}

.overlay-content .menu.nav.navbar-nav li {
    display: block;
    float: none;
}

.overlay-content .menu.nav.navbar-nav li a {
    padding: 25px;
    text-decoration: none;
    font-size: 28px;
    color: #F1D8B9;
    display: block;
    transition: 0.3s;
}

.overlay-content .menu.nav.navbar-nav li a:hover {
    background-color: transparent;
    color: #fff;
}


.overlay .mobile-social a {
    color: #F1D8B9;
    line-height: 80px;
    display: inline;
    font-size: 24px;
    margin-left: 20px ;
}


/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -16px;
    left: 9px;
    font-size: 60px;
    color: #F1D8B9;
    transition: 0.3s;
}

.overlay .closebtn:hover {
    text-decoration: none;
    color: #fff;
}

.mobile-social {
    position: absolute;
    bottom: 0px;
    height: 80px;
    border-top: solid 5px #D3AA75;
    width: 100%;
    background-color: #A88353;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


